<aside th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">

        <li class="nav-item"
            th:classappend="${#httpServletRequest.getRequestURI().startsWith('/dashboard') ? 'active':''}">
            <a class="nav-link" href="/dashboard/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span th:text="#{dashboard.dashboard}"></span>
            </a>
        </li>

        <li class="nav-item"
            th:classappend="${#httpServletRequest.getRequestURI().startsWith('/volunteers') ? 'active':''}">
            <a class="nav-link" href="/volunteers/">
                <i class="fas fa-fw fa-users"></i>
                <span th:text="#{volunteer.volunteers}"></span>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="masterDataDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-database"></i>
                <span th:text="#{masterdata.masterdata}"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="masterDataDropdown">
                <a class="dropdown-item" href="/masterdata/openairs/" th:text="#{masterdata.openairs}"></a>
                <a class="dropdown-item" href="/masterdata/days/" th:text="#{masterdata.days}"></a>
                <a class="dropdown-item" href="/masterdata/shifts/" th:text="#{masterdata.shifts}"></a>
                <a class="dropdown-item" href="/masterdata/locations/" th:text="#{masterdata.locations}"></a>
                <a class="dropdown-item" href="/masterdata/tshirtsizes/" th:text="#{masterdata.tshirtsizes}"></a>
                <a class="dropdown-item" href="/masterdata/genders/" th:text="#{masterdata.gender}"></a>
            </div>
        </li>
    </ul>

</aside>


