<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<body>

<!-- Content -->
<th:block layout:fragment="page-content">

    <!-- Toolbar -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" th:text="#{volunteer.volunteers}"></h1>
        <a href="/volunteers/volunteer" class="d-none d-inline-block btn btn-primary shadow-sm">
            <i class="fas fa-fw fa-plus-circle"></i>
            <span th:text="#{general.new}"></span>
        </a>
    </div>

    <!-- Cards -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            <span th:text="#{volunteer.volunteers}"></span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="volunteer-table" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th th:text="#{volunteer.firstName}"></th>
                        <th th:text="#{volunteer.lastName}"></th>
                        <th th:text="#{volunteer.email}"></th>
                        <th th:text="#{volunteer.mobile}"></th>
                        <th th:text="#{volunteer.gender}"></th>
                        <th th:text="#{volunteer.birthDate}"></th>
                        <th th:text="#{volunteer.tshirtSize}"></th>
                        <th th:text="#{volunteer.clubMember}"></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th th:text="#{volunteer.firstName}"></th>
                        <th th:text="#{volunteer.lastName}"></th>
                        <th th:text="#{volunteer.email}"></th>
                        <th th:text="#{volunteer.mobile}"></th>
                        <th th:text="#{volunteer.gender}"></th>
                        <th th:text="#{volunteer.birthDate}"></th>
                        <th th:text="#{volunteer.tshirtSize}"></th>
                        <th th:text="#{volunteer.clubMember}"></th>
                    </tr>
                    </tfoot>
                    <!-- body is loaded via ajax -->
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</th:block>

</body>
</html>